In [1]:
import pandas as pd
import numpy as np

### Load Data

In [2]:
data = pd.read_csv('learningSet.csv', low_memory=False)
data.head()

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A

### Replace Empty values with NaN

In [3]:
data = data.apply(lambda col: col.replace(' ', np.nan))

### Select numerical columns

In [4]:
numerical_columns = data.select_dtypes(np.number)
numerical_columns.shape

(95412, 407)

### Check for null values in numerical columns

In [5]:
[f'{col}: {numerical_columns[col].isna().sum()}' for col in numerical_columns.columns if numerical_columns[col].isna().sum() > 0]

['AGE: 23665',
 'NUMCHLD: 83026',
 'INCOME: 21286',
 'WEALTH1: 44732',
 'MBCRAFT: 52854',
 'MBGARDEN: 52854',
 'MBBOOKS: 52854',
 'MBCOLECT: 52914',
 'MAGFAML: 52854',
 'MAGFEM: 52854',
 'MAGMALE: 52854',
 'PUBGARDN: 52854',
 'PUBCULIN: 52854',
 'PUBHLTH: 52854',
 'PUBDOITY: 52854',
 'PUBNEWFN: 52854',
 'PUBPHOTO: 52854',
 'PUBOPP: 52854',
 'WEALTH2: 43823',
 'MSA: 132',
 'ADI: 132',
 'DMA: 132',
 'ADATE_3: 1950',
 'ADATE_4: 2191',
 'ADATE_5: 33590',
 'ADATE_6: 3557',
 'ADATE_7: 8874',
 'ADATE_8: 3511',
 'ADATE_9: 11245',
 'ADATE_10: 32748',
 'ADATE_11: 10422',
 'ADATE_12: 8923',
 'ADATE_13: 40219',
 'ADATE_14: 18867',
 'ADATE_15: 65477',
 'ADATE_16: 20364',
 'ADATE_17: 27650',
 'ADATE_18: 21263',
 'ADATE_19: 24480',
 'ADATE_20: 50200',
 'ADATE_21: 35212',
 'ADATE_22: 25648',
 'ADATE_23: 56270',
 'ADATE_24: 36973',
 'RDATE_3: 95170',
 'RDATE_4: 95131',
 'RDATE_5: 95403',
 'RDATE_6: 94636',
 'RDATE_7: 86517',
 'RDATE_8: 73940',
 'RDATE_9: 78678',
 'RDATE_10: 84951',
 'RDATE_11: 80672',
 'RDATE_12: 69712',
 'RDATE_13: 83162',
 'RDATE_14: 72095',
 'RDATE_15: 88150',
 'RDATE_16: 68418',
 'RDATE_17: 86011',
 'RDATE_18: 75634',
 'RDATE_19: 79535',
 'RDATE_20: 87524',
 'RDATE_21: 85899',
 'RDATE_22: 74539',
 'RDATE_23: 87553',
 'RDATE_24: 77674',
 'RAMNT_3: 95170',
 'RAMNT_4: 95131',
 'RAMNT_5: 95403',
 'RAMNT_6: 94636',
 'RAMNT_7: 86517',
 'RAMNT_8: 73940',
 'RAMNT_9: 78678',
 'RAMNT_10: 84951',
 'RAMNT_11: 80672',
 'RAMNT_12: 69712',
 'RAMNT_13: 83162',
 'RAMNT_14: 72095',
 'RAMNT_15: 88150',
 'RAMNT_16: 68418',
 'RAMNT_17: 86011',
 'RAMNT_18: 75634',
 'RAMNT_19: 79535',
 'RAMNT_20: 87524',
 'RAMNT_21: 85899',
 'RAMNT_22: 74539',
 'RAMNT_23: 87553',
 'RAMNT_24: 77674',
 'NEXTDATE: 9973',
 'TIMELAG: 9973',
 'CLUSTER2: 132']

### Check values for `GEOCODE2`

In [6]:
data['GEOCODE2'].value_counts(dropna=False)

A      34484
B      28505
D      16580
C      15524
NaN      319
Name: GEOCODE2, dtype: int64

### Map values of `GEOCODE2`

In [7]:
data["GEOCODE2"] = data["GEOCODE2"].map({"A": 1, "B": 2, "C": 3, "D": 4})
data['GEOCODE2'].value_counts(dropna=False)

1.0    34484
2.0    28505
4.0    16580
3.0    15524
NaN      319
Name: GEOCODE2, dtype: int64

### Drop NaN on `GEOCODE2`

In [8]:
data.dropna(subset=['GEOCODE2'], inplace=True)
data['GEOCODE2'].value_counts(dropna=False)

1.0    34484
2.0    28505
4.0    16580
3.0    15524
Name: GEOCODE2, dtype: int64

### Check values for `WEALTH1`

In [9]:
data['WEALTH1'].value_counts(dropna=False)

NaN    44475
9.0     7578
8.0     6784
7.0     6192
6.0     5816
5.0     5272
4.0     4807
3.0     4230
2.0     4080
1.0     3450
0.0     2409
Name: WEALTH1, dtype: int64

### Replace NaN values with mean in `WEALTH1`

In [10]:
wealth1_mean = np.ceil(np.mean(data['WEALTH1']))
data['WEALTH1'] = data['WEALTH1'].fillna(wealth1_mean)
data['WEALTH1'].value_counts(dropna=False)

6.0    50291
9.0     7578
8.0     6784
7.0     6192
5.0     5272
4.0     4807
3.0     4230
2.0     4080
1.0     3450
0.0     2409
Name: WEALTH1, dtype: int64

### Check values for `ADI`, `DMA` and `MSA`

In [16]:
numerical_columns['ADI'].value_counts(dropna=False)

13.0     7296
51.0     4622
65.0     3765
57.0     2836
105.0    2617
         ...
651.0       1
103.0       1
601.0       1
161.0       1
147.0       1
Name: ADI, Length: 205, dtype: int64

In [19]:
numerical_columns['DMA'].value_counts(dropna=False)

803.0    7296
602.0    4632
807.0    3765
505.0    2839
819.0    2588
         ...
569.0       1
554.0       1
584.0       1
552.0       1
516.0       1
Name: DMA, Length: 207, dtype: int64

In [20]:
numerical_columns['MSA'].value_counts(dropna=False)

0.0       21333
4480.0     4606
1600.0     4059
2160.0     2586
520.0      1685
          ...
9140.0        1
3200.0        1
9280.0        1
743.0         1
8480.0        1
Name: MSA, Length: 299, dtype: int64

### Count NaN values in `ADI`, `DMA`,and `MSA`

In [15]:
numerical_columns['ADI'].isna().sum()

132

In [17]:
numerical_columns['DMA'].isna().sum()

132

In [18]:
numerical_columns['MSA'].isna().sum()

132

### Drop NaN in `ADI`, `DMA`,and `MSA`

In [21]:
numerical_columns = numerical_columns.dropna(columns=['ADI', 'DMA', 'MSA'])